html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #041E42;
  color: white;
  margin-top: 70px;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 15px;
  color: white;
  z-index: 1;
  position: fixed;
  top: 10px;
  width: 100%;
}

#show-more, #send {
  width: 100px;
  color: white;
  height: 30px;
  margin:auto;
  border-radius: 3px;
  background: #1EA280;
  border: none;
  margin-bottom: 10px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;;
}

#show-more:hover {
  background: #28D4A8;

}

#message-box {
  width: 98%;
  margin:auto;
  margin-bottom: 140px;
}

.message {
  width: 50%;
  padding: 10px;
  background: #ED8B00;
  color: white;
  margin-top: 10px;
  border-radius: 3px;
  float: right;
  clear: both;
  margin-right: 20%;
}

.response {
  background: #1BD1F4;
  color: black;
  float: left;
  clear: both;
  margin-left: 20%;
  word-wrap: break-word;
}

.remove {
  background: url(./images/delete.svg) no-repeat;
  opacity: .7;
  display: block;
  float:right;
  height: 20px;
  width: 20px;
  border: none;
}

.remove:hover{
  background: url(./images/delete-hover.svg) no-repeat;
  opacity: 1;
  display: block;
  float:right;
  height: 20px;
  width: 20px;
  border: none;
}

#bottom-space{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1EA280;
}

#top-space{
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #1EA280;
  opacity: .9;
  z-index: 1
}

#send-area {
  text-align: center;
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#send {
  font-size: 1.2em;
  display:inline;
  height: 48px;
  width:100px;
  height: 48px;
  background: #041E42;
  font-family: 'Bangers', cursive;
  position: absolute;
  bottom: 23px;
}

#send:hover {
  background: #2B68BC;
}

#send:disabled {
  background: #041E42;
  opacity: .6;
}

#counterContainer {
  position: sticky;
  font-size: .8em;
  text-align: left;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

textarea {
  resize: none;
  display: inline;
  border: none;
  border-radius: 3px;
  height: 2em;
  margin-right: 20px;
  width: 600px;
  font-size: 1.5em;
  padding-left: 10px;
  padding-top: 10px;
}

@media screen and (max-width: 750px) {

  textarea {
    width: 95%;
    margin-right: 0px;
    margin-bottom: 10px;
    height: 1.5em;
  }

  #bottom-space{
    height: 130px;
  }

  .message {
    width: 75%;
    float: right;
    margin-right: 5%;
    margin-left: 15%;
  }

  #send {
    position: relative;
    bottom: 0px;
    height: 35px;
  }

  .response {
    width: 75%;
    float: left;
    margin-left: 5%;
    margin-right: 15%;
  }
}
